[submodule "Android-Debug-Database"]
	path = Android-Debug-Database
	url = https://github.com/WrBug/Android-Debug-Database.git
[submodule "data-finder-web"]
	path = data-finder-web
	url = https://github.com/WrBug/DataFinderWeb.git
